<div class="fb-like" data-href="https://calculingua.com/index.html" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<div class="footer show-for-medium-up">
  <div class="row">
    <div class="column large-8 medium-9">
      <div class="row">
        <a href="/">
          <div class="logo">
            <img id="bottom_logo" src="/img/cali-logo/full-white.png" alt="Calculingua">
            <p>Modernizing Knowledge Creation</p>
          </div>
        </a>
        <ul class="links">
          <li><a href="/about.html">About</a></li>
          <li><a href="mailto:support@calculingua.com?subject=Support">Support</a></li>
          <!-- <li><a href="/careers.html">Jobs</a></li> -->
          <li><a href="https://github.com/calculingua">Developers</a></li>
        </ul>
        <a class="" href="http://www.louisvillemade.com/">
          <img style="width : 90px; margin-top : -5px;" src="/img/louisvillemade/Gray2.png">
        </a>
      </div>
    </div>

    <div class="column large-4 medium-3">
      <span class="bottom-right">&copy Calculingua {{ page.date | date: "%Y" }}</span>
    </div>
  </div>
</div>

<div class="footer show-for-small-only">
  <div class="row">
    <div class="column">

      <ul class="inline-list">
        <li><a href="/about.html">About</a></li>
        <li><a href="mailto:support@calculingua.com?subject=Support">Support</a></li>
        <li><a href="https://github.com/calculingua">Developers</a></li>
        <li><a href="/"><span class="right">&copy Calculingua {{ page.date | date: "%Y" }}</span></a></li>
      </ul>

    </div>

    <div class="column">

    </div>
  </div>
</div>
