<div class="sticky">
  <nav class="top-bar header" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a class="logo" href="{{ site.baseurl }}/">
          <img src="/img/cali-logo/full-white-smaller.png">
        </a>
      </li>

      <li class="toggle-topbar menu-icon" id="menu-button">
        <a href="#">
          <span><i class="icon icon-reorder icon-2x"></i></span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href="/#features">Features</a></li>
      </ul>

      <ul class="right" ng-if="!loggedIn" ng-cloak>
        <li class="sign-in" ng-hide="loggedIn || disableDropdown()">
          <a href="/login.html" title="Sign In" class="show-for-small-only button radius large cali-info">
            <i class="icon icon-user"></i> Login
          </a>
          <button class="show-for-medium-up button radius large cali-info" ng-click="onLoginClick()">
            <i class="icon icon-user"></i> Login
          </button>
        </li>
      </ul>
    </section>
  </nav>
</div>
